aiohttp >= 3.8.4
aiopg >= 1.4.0
aiohttp_session[aiomcache] >= 2.12.0
Jinja2~=3.1.2
cryptography~=39.0.2
vidgear[asyncio] >= 0.3.0
pyzmq
msgpack
msgpack_numpy
uvloop
aiohttp_jinja2
opencv-python
python-ffmpeg-video-streaming
